<div class="chat-container">
  <header class="chat-header">
    <a [routerLink]="'/'" class="logo-link">
      <img src="assets/watchlogo.png" alt="TimeLux Logo" class="logo" />
    </a>
    <h2 class="title">Watch E-commerce Shop</h2>
  </header>

  <div class="chat-content">
    <app-sidebar *ngIf="authService.isAdmin" (userSelected)="onUserSelected($event)"></app-sidebar>
    <div class="messages" #messageContainer>
      <app-messages
        *ngFor="let msg of messages; trackBy: trackByMessageId"
        [msg]="msg"
        [userId]="userId"
      ></app-messages>
    </div>
  </div>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="chat-form">
    <input
      matInput
      formControlName="message"
      placeholder="Type a message"
      class="input"
    />
    <button
      mat-icon-button
      type="submit"
      class="send-button"
      [disabled]="chatForm.invalid"
    >
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>