<div class="bg-white rounded-lg shadow-lg hover:shadow-xl cursor-pointer transition-all duration-300 ease-in-out">
  <img [src]="product.images[0]" alt="Product Image" 
    class="w-full h-40 object-cover rounded-t-lg"
    [routerLink]="'/products/'+(product._id)">
  <div class="p-4">
    <h3 class="text-xl font-semibold text-gray-800">{{ product.name }}</h3>
    <p class="text-sm text-gray-500">{{ product.shortDesription }}</p>
    <div class="flex justify-between items-center mt-4">
      <!-- Price -->
      <span class="text-lg font-semibold text-gray-900">₹{{ product.price }}</span>
      <!-- Add to Wishlist and Add to Cart -->
      <div class="flex gap-2">
        <button 
          *ngIf="product._id" 
          (click)="addToWishList(product)" 
          mat-icon-button
          [color]="isInWishList(product) ? 'warn' : 'default'">
          <mat-icon>
            {{ isInWishList(product) ? 'favorite' : 'favorite_border' }}
          </mat-icon>
        </button>
        <button 
          *ngIf="product" 
          (click)="addToCartOrRemove(product)" 
          mat-icon-button
          [color]="isProductInCart(product) ? 'primary' : 'default'">
          <mat-icon>
            {{ isProductInCart(product) ? 'remove_shopping_cart' : 'add_shopping_cart' }}
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>