<div
  [ngClass]="{
    'message-sent': msg.sender && msg.sender._id === userId,
    'message-received': msg.sender && msg.sender._id !== userId
  }"
  class="message-wrapper"
>
@if(msg.sender || msg.receiver){
@if(msg.sender && msg.sender._id === authService.getUserId()) {
    @if((authService.isAdmin)){
        <img
        src="assets/watchlogo.png"
        alt="User Logo"
        class="user-avatar"
      />
    }@else{
        <img
        src="assets/profile.jpg"
        alt="User Logo"
        class="user-avatar"
      />
    }
    
  }@else if(msg.receiver && msg.receiver._id === authService.getUserId()){
    @if((authService.isAdmin)){
        <img
        src="assets/profile.jpg"
        alt="User Logo"
        class="user-avatar"
      />
     
    }@else{
         <img
        src="assets/watchlogo.png"
        alt="User Logo"
        class="user-avatar"
      />
    }
  }@else{
    @if((authService.isAdmin)){
        <img
        src="assets/profile.jpg"
        alt="User Logo"
        class="user-avatar"
      />
     
    }@else{
         <img
        src="assets/watchlogo.png"
        alt="User Logo"
        class="user-avatar"
      />
    }
  }
  <div class="message">
    <strong *ngIf="msg.sender" class="sender-name">
      {{ msg.sender.name }}
    </strong>
    <p class="message-content">{{ msg.message }}</p>
  </div>
}
</div>