<div *ngIf="orders.length > 0; else noOrders">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 px-5 py-2">My Orders</h2>
    <div *ngFor="let order of orders" class="mb-6 p-6 border rounded-lg shadow-lg bg-white w-[90vw] mx-auto">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold text-gray-800">Order ID: {{ order._id }}</h3>
        <p class="text-sm text-gray-600">Date: {{ order.date | date:'medium' }}</p>
      </div>
      <div class="mb-4">
        <p class="text-gray-600"><strong>Status:</strong> {{ order.status }}</p>
        <p class="text-gray-600"><strong>Payment Type:</strong> {{ order.paymentType }}</p>
        <p class="text-gray-600"><strong>Address:</strong> {{ order.address?.address }}</p>
        <p class="text-gray-600"><strong>Total Amount:</strong> ₹{{ order.totalAmmount | number }}</p>
      </div>
      <h4 class="text-lg font-semibold text-gray-800 mt-4">Items:</h4>
      <ul class="list-disc list-inside">
        <li *ngFor="let item of order.items" class="text-gray-700">
          {{ item.product.name }} - Quantity: {{ item.quantity }}
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noOrders>
    <p class="text-lg text-gray-600">You have no orders.</p>
  </ng-template>